<?xml version="1.0" encoding="utf-8"?>
<!-- IFRS Archive Portal - IIS / .NET Framework 4.8, no build step -->
<configuration>
  <connectionStrings>
    <add name="IFRSArchive" connectionString="Server=SQL5;Database=IFRSArchive;Integrated Security=SSPI;Application Name=IFRSPortal" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- UNC base of the extracted attachments tree -->
    <add key="AttachmentsBase" value="\\application\users\kpanchadcharam\notes\attachments" />
    <!-- Group allowed to view the audit log page (Audit.aspx) -->
    <add key="AdminGroup" value="fcsgw.org\ArchiveUsers" />
  </appSettings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
  </system.webServer>
</configuration>
